@model OilProducts.Models.DeliveryCompany

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeliveryCompany</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.deliveryCompanyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
