@{
    ViewBag.Title = "Finish";
}
<h2>Finish</h2>

<h4>BankPayments</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        Name 
    </dt>
    
    <dd>
        @ViewBag.firstName
    </dd>

    <dt>
        Last name
    </dt>

    <dd>
        @ViewBag.lastName
    </dd>

    <dt>
        Company name
    </dt>

    <dd>
        @ViewBag.companyName
    </dd>

    <dt>
        Phone number
    </dt>

    <dd>
        @ViewBag.phoneNumber
    </dd>

    <dt>
        Order number
    </dt>

    <dd>
        @ViewBag.orderNumber
    </dd>

    <dt>
        Delivery company
    </dt>

    <dd>
        @ViewBag.deliveryCompany
    </dd>

    <dt>
        Order date
    </dt>

    <dd>
        @ViewBag.orderDate
    </dd>

    <dt>
        Shipping method
    </dt>

    <dd>
        @ViewBag.shippingMethod
    </dd>

    <dt>
        Product
    </dt>

    <dd>
        @ViewBag.productName
    </dd>

    <dt>
        Total price
    </dt>

    <dd>
        @ViewBag.totalPrice
    </dd>

    <dt>
        @Html.ActionLink("Finish", "Index", "Home", null, new { @style = "display: inline-block;  width: 5em; height: 2em;line-height: 2em;vertical-align: middle;text-align: center; text-decoration: none;user-select: none;color: rgb(0,0,0);outline: none;border: 1px solid rgba(0,0,0,.4);border-top-color: rgba(0,0,0,.3);border-radius: 2px;background: linear-gradient(rgb(255,255,255), rgb(240,240,240));box-shadow:0 0 3px rgba(0,0,0,0) inset, 0 1px 1px 1px rgba(255,255,255,.2), 0 -1px 1px 1px rgba(0,0,0,0);transition: .2s ease-in-out;" })
    </dt>


</dl>

