@model OilProducts.Models.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryCompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shippingMethodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shippingMethodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.freightCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freightCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paymentsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentsId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ordersId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
